.btn-weigh {
    margin: 30px 0px;
    background: #FF8B40 !important;
    color: #000;
    font-weight: 600; 
}
.digi-weigh {
    background: #f5f5f5;
    border: 1px solid #d3d3d3;
}
.digi-weigh-content {
    font-weight: 600;
    font-size: 5rem;
    letter-spacing: 1px;
}
.titleAlert {
    color: #32db64;
    font-size: 14px;
}
